<h1>Listing predictions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Prediction</th>
      <th>Date of Prediction</th>
      <th>Time Made</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
      <tr>
        <td><%= prediction.user %></td>
        <td><%= prediction.prediction %></td>
        <td><%= prediction.pdate %></td>
        <td><%= prediction.time %></td>
        <td><%= pluralize(prediction.votes.count, "vote") %></td>
        <td><%= button_to '+1', votes_path(prediction_id: prediction.id), method: :post %></td>
        <td><%= link_to 'Show', prediction %></td>
        <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
        <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prediction', new_prediction_path %>
