<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @prediction.user %>
</p>

<p>
  <strong>Prediction:</strong>
  <%= @prediction.guess %>
</p>

<p>
  <strong>Pdate:</strong>
  <%= @prediction.pdate %>
</p>

<p>
  <strong>Time:</strong>
  <%= @prediction.time %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
